_BASE_: "Base-DiffusionDet.yaml"
MODEL:
  WEIGHTS: "detectron2://ImageNetPretrained/torchvision/R-50.pkl"
  RESNETS:
    DEPTH: 50
    STRIDE_IN_1X1: False
  DiffusionDet:
    NUM_PROPOSALS: 500
    NUM_CLASSES: 3
DATASETS:
  TRAIN: ("repro_10k_train",)
  TEST:  ("repro_10k_val",)
SOLVER:
  IMS_PER_BATCH: 4
  BASE_LR: 0.000025
  # Full baseline schedule for 10k iterations.
  # When doing smoke tests, override MAX_ITER on the command line.
  STEPS: (8000, 9500)
  MAX_ITER: 10000
  CHECKPOINT_PERIOD: 2500
  WARMUP_ITERS: 50
INPUT:
  CROP:
    ENABLED: True
  FORMAT: "RGB"
OUTPUT_DIR: "output/repro_10k_diffdet"
